{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
	"rules": {
		"no-console": 1,
		"eol-last": 2,
		"no-restricted-syntax": "off",
		"indent": ["error", 2],
		"@typescript-eslint/semi": ["error"],
		"no-duplicate-imports": "error",
		"no-return-await": "error",
		"no-unused-vars": ["error", { "varsIgnorePattern": "should|expect" }],
		"require-jsdoc": [
			"error",
			{
				"require": {
					"FunctionDeclaration": true,
					"MethodDefinition": true,
					"ClassDeclaration": true,
					"ArrowFunctionExpression": true
				}
			}
		],
		"semicolon": [true, "always"],
		"valid-jsdoc": [
			"error",
			{
				"requireReturn": true,
				"requireReturnType": true,
				"requireParamDescription": false,
				"requireReturnDescription": true
			}
		]
	}
}
